.navbar {
    background-color: #3E3C3C;
}

.navbar-name, .nav-link {
    color: #ffffff;
}

.row-1 {
    background-image: url("/images/Illustration-header.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: right;
    color: white;
}